spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope: profile, email
            redirect-uri: "{baseUrl}/login/oauth2/code/google"
          github:
            client-id: ${GITHUB_CLIENT_ID}
            client-secret: ${GITHUB_CLIENT_SECRET}
            scope: read:user, user:email

  web:
    cors:
      mappings:
        - path: "/api/**"
          allowed-origins: "${FRONTEND_URL}" # http://localhost:5173
          allowed-methods: "*"
          allowed-headers: "*"
          allow-credentials: true

jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000

server:
  port: 8080

frontend:
  url: ${FRONTEND_URL}